RewriteOptions inherit

RewriteEngine On

# Exclude public/ and its content from rewrite
RewriteRule ^public/ - [L]

# Rewrite all requests to the index.php file
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
