@layer reset, base, layout, components, utilities, general;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --bg-yellow: 60, 100%, 50%;
    --bg-orange: 39, 100%, 50%;
    --bg-red: 0, 100%, 50%;
    --bg-green: 120, 100%, 25%;
    --bg-gray: 0, 0%, 50%;
    --bg-blue: 240, 90%, 75%;

    --z-index-content: 1;
    --z-index-overlay: 100;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

@layer layout {
  body {
    position: relative;
    height: 100vh;
  }

  .application {
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-rows: auto minmax(1em, 5em) 1fr auto;

    isolation: isolate;
  }

  @media screen and (width > 640px) {
    .application {
      grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
      grid-template-columns: 26ch 1fr;
      grid-template-rows: auto 1fr auto;
    }
  }

  .application > header {
    grid-area: header;
    z-index: 3;
  }
  .application > main {
    grid-area: main;
    z-index: 1;
    overflow-y: auto;

    position: relative;
    isolation: isolate;
  }
  .application > aside {
    grid-area: aside;
    z-index: 2;
    overflow-y: auto;
  }
  .application > footer {
    grid-area: footer;
    z-index: 4;
  }

  #overlays {
    position: fixed;
    inset: 0;

    overflow: auto;

    pointer-events: none;
    z-index: var(--z-index-overlay);

    & * {
      pointer-events: auto;
    }
  }
}

@layer general {
  header {
    color: #fff;
    background-color: gray;
    box-shadow: 0.125rem 0.125rem 0.25rem hsl(0, 0%, 0%, 0.2);

    padding: 0.5em 1em;
  }

  aside {
    background-color: lightgray;

    padding-inline: 1em;
    padding-block: 1em;
  }

  main {
    padding-inline: 2em;
    padding-block: 1em;
  }

  aside menu {
    list-style: none;
  }

  .flash-messages {
    max-width: max-content;
    padding: 1em;
    margin-block-start: 4em;
    margin-inline-start: auto;

    & ul {
      list-style: none;
    }

    & ul.alerts {
      --flash-message-bg-color: darkgreen;
      --flash-message-color: white;
    }

    & li {
      cursor: pointer;
      background-color: var(--flash-message-bg-color, red);
      font-weight: bold;
      color: var(--flash-message-color, white);
      padding: 0.5em 1em;
      border-radius: 0.25em;
      box-shadow: 1px 1px 2px 1px hsl(0, 0%, 0%, 0.5);
      animation: flash-show 500ms cubic-bezier(0, 1.7, 0.3, 0.7);

      margin-block-end: 0.5em;
      margin-inline-start: auto;
      max-width: max-content;
    }
  }
}

/* key frames */
@keyframes flash-show {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
